@font-face {
  font-family: 'Pusia';
  src: url("../fonts/Pusia-Bold.woff2") format('woff2'), url("../fonts/Pusia-Bold.woff") format('woff');
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: 'Pusia';
  src: url("../fonts/Pusia-ExtraBold.woff2") format('woff2'), url("../fonts/Pusia-ExtraBold.woff") format('woff');
  font-weight: 900;
  font-style: normal;
}
body {
  font-family: 'PT Sans', sans-serif !important;
}
li,
p {
  line-height: 1.8 !important;
  font-size: 16px;
}
p {
  margin-bottom: 20px;
}
.type--xs,
h5 {
  font-size: 12px;
}
@media only screen and (max-width: 768px) {
  .type--xs,
  h5 {
    font-size: 10px;
  }
}
.type--sm,
h4 {
  font-size: 14px;
}
@media only screen and (max-width: 768px) {
  .type--sm,
  h4 {
    font-size: 12px;
  }
}
.type--main,
p {
  font-size: 16px;
}
@media only screen and (max-width: 768px) {
  .type--main,
  p {
    font-size: 14px;
  }
}
.type--md,
.news__title {
  font-size: 18px;
  font-family: 'Pusia', sans-serif;
}
@media only screen and (max-width: 768px) {
  .type--md,
  .news__title {
    font-size: 15px;
  }
}
.type--lg {
  font-size: 24px;
  font-family: 'Pusia', sans-serif;
}
@media only screen and (max-width: 768px) {
  .type--lg {
    font-size: 18px;
  }
}
.type--xl,
h1,
h2,
h3 {
  font-size: 30px;
  font-family: 'Pusia', sans-serif;
}
@media only screen and (max-width: 768px) {
  .type--xl,
  h1,
  h2,
  h3 {
    font-size: 20px;
  }
}
.type--bold {
  font-weight: bold;
}
h1 {
  font-family: 'Pusia', sans-serif;
  color: #000;
}
h2 {
  font-family: 'Pusia', sans-serif;
  color: #000;
}
h3 {
  font-family: 'Pusia', sans-serif;
  color: #000;
}
h4 {
  font-family: 'Pusia', sans-serif;
  color: #000;
}
h5 {
  font-family: 'Pusia', sans-serif;
  color: #000;
}
.logo {
  width: 15%;
}
.section {
  padding: 100px 0;
}
.section--gray {
  background: #fbfbfb;
}
.section--white {
  background: #fff;
}
.title--type {
  font-size: 36px;
  margin-bottom: 60px;
  margin-top: 0;
  padding-top: 0;
  font-weight: 700;
  font-family: 'Pusia', sans-serif;
  color: #113775;
}
.title--mark {
  color: #113775;
}
.sale-banner {
  margin: 20px 0 5px 0;
}
.header--white {
  background: #fff;
}
.header--white .header__el a {
  color: #000;
}
.header--white .header-phone-link {
  color: #000;
}
.header-phone-link {
  font-size: 28px;
}
.header__toggle {
  color: #000;
}
.header-nav-wraper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-nav-wraper li {
  margin-bottom: 0;
}
.list-service__content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-service__el:before {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #7b7b7b;
  left: -5px;
  top: 12px;
}
strong {
  color: #000;
  font-style: italic;
}
.footer-wraper {
  padding-bottom: 80px;
}
.large-only tr td:nth-child(2) {
  width: 35%;
}
.large-only tr td:nth-child(2) p {
  color: #000;
  font-size: 14px;
}
.header {
  background: #fff;
}
.navigation {
  background: #113775;
}
.navigation ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.navigation ul li {
  margin: 0;
  padding: 0;
}
.navigation ul a {
  color: #fff;
  text-transform: uppercase;
  padding: 15px 20px;
  display: inline-block;
  font-size: 14px;
}
.banner-main {
  height: 500px;
  background-image: url("../img/main.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-main .main-cont {
  height: 100%;
}
.banner-main__wrap {
  display: flex;
  height: 100%;
}
.banner-main__wrap-info {
  width: 50%;
  margin-left: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.banner-main__wrap-text {
  font-size: 56px;
  line-height: 1;
  margin-bottom: 20px;
}
.banner-main__wrap-text span {
  font-weight: 700;
}
.b-service {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
}
.b-service__el {
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px #f1f1f1;
}
.b-service__el ul {
  padding-left: 20px;
}
.b-service__el ul a {
  color: #2e2e2e;
  position: relative;
}
.b-service__el ul a:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #bebebe;
}
.b-service__el-title {
  font-family: 'Pusia', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 20px;
  border-bottom: 1px solid #eff1f5;
}
.positive {
  background: #fff;
}
.serch-btn {
  background: #113775;
}
.panel__title {
  color: #113775;
}
.table_price {
  margin: 40px 0;
}
.table_price br {
  display: none;
}
.calc__icon {
  color: #113775;
}
.sytle-input-element {
  border: 2px solid #113775;
}
.sytle-input:checked + .sytle-input-element {
  background: #113775;
}
.sytle-input {
  left: -9999px;
}
.adv__el i {
  color: #113775;
}
.b-attantion {
  box-shadow: none;
  border: 1px solid #efefef;
  margin: 40px 0;
  padding: 0 20px;
  border-radius: 10px;
}
.b-attantion__text {
  font-size: 14px;
  font-style: normal;
}
.b-attantion__icon {
  color: #f00;
}
.panel__get {
  background: #113775 !important;
  border-radius: 0 10px 10px 0;
}
@media only screen and (max-width: 640px) {
  .panel__get {
    border-radius: 0;
  }
}
.calc-block__get {
  background: #113775;
  text-transform: none;
  border-radius: 10px;
  padding: 15px;
}
.call__free {
  color: #113775;
}
.title--mid {
  text-align: center;
}
.section-company {
  padding: 0 !important;
}
.how-work__el-title {
  color: #113775;
  font-size: 18px;
  font-family: 'Pusia', sans-serif;
  margin-bottom: 10px;
}
.how-work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.how-work__el {
  width: 32%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  flex-flow: column;
  padding: 60px 30px;
  border-radius: 10px;
  box-shadow: 0px 3px 8px #e3e3e3;
  margin-bottom: 40px;
  position: relative;
}
.how-work__el p {
  margin: 0;
  line-height: 1.2;
  font-size: 14px;
  color: #7d8188;
}
.how-work__el-numb {
  width: 60px;
  height: 60px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #113775;
  font-weight: 700;
  font-family: 'Pusia', sans-serif;
  margin-bottom: 30px;
  position: absolute;
  top: -20px;
  left: 0;
  background: #fff;
  border-radius: 10px;
}
.section-work {
  padding: 80px 0;
}
.section-get__content .type {
  color: #fff;
}
.section-get__content .btn {
  border: 1px solid #fff;
  color: #fff;
}
.section-get__subtitle {
  margin-bottom: 30px;
  color: #fff !important;
}
.section__contact {
  background: #f3f3f3;
}
.contact__form input,
.contact__form textarea {
  border: 1px solid #edeaea;
}
.b-contact-img {
  width: 100%;
  padding: 40%;
  background-image: url("../img/contact_girl.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.lazyYT-container {
  border-right: border-raduis 10px;
}
.contact__phone {
  font-weight: 700;
}
article .positive {
  padding: 0;
}
.attansion {
  padding: 20px;
  background: #f3f3c2;
  border-radius: 10px;
  line-height: 1.4;
  margin-bottom: 30px;
}
@media only screen and (max-width: 640px) {
  .attansion {
    margin-left: -10px;
    width: calc(100% + 20px);
    border-radius: 0;
  }
}
.header--white {
  border-bottom: 1px solid #eee;
}
.header-phone-link {
  font-weight: 700;
  font-family: 'Pusia', sans-serif;
}
.sale-banner-text {
  font-size: 10px;
  color: #bebcbc;
}
article a {
  text-decoration: underline;
}
.news-wrap {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 30px;
}
.news__content {
  width: 100%;
  padding: 0;
}
.news__el {
  padding: 40px 30px;
  margin-bottom: 0;
  background: #fff;
  box-shadow: 0px 3px 8px #e3e3e3;
  border-radius: 10px;
}
.news__title {
  text-transform: none;
  color: #113775;
}
.news__text {
  line-height: 1.4;
  color: #7d8188;
}
.b-service {
  grid-template-columns: repeat(3, 1fr);
}
.metro-wraper {
  justify-content: space-between;
  margin-bottom: 30px;
}
.metro-wraper .span_h2 {
  display: block;
  width: 100%;
}
.section-service {
  background: rgba(234,236,242,0.702);
}
.header-nav {
  width: 35%;
}
.header__el a {
  text-transform: none;
  font-weight: 700;
}
.content__left {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.content__left .positive {
  display: none !important;
  height: 0;
  overflow: hidden;
}
.panel {
  border-radius: 10px;
  font-weight: 600;
}
@media only screen and (max-width: 640px) {
  .panel {
    border-radius: 0;
  }
}
.breadcrumbs {
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.breadcrumbs span {
  color: #113775;
}
.calc__title {
  font-weight: 700;
  text-transform: none;
}
.company__lg-title {
  font-family: 'Pusia', sans-serif;
  font-weight: 700;
}
.work-teml__title {
  text-align: center;
}
.work-teml {
  max-width: 800px;
  margin: 40px auto;
}
.video {
  max-width: 800px;
  margin: 40px auto;
}
.section-title {
  font-weight: 700;
  font-family: 'Pusia', sans-serif;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 28px !important;
}
.section-title--mid {
  text-align: center;
}
.b-service__el-text {
  color: #113775;
}
.b-service__el ul a {
  color: #000;
}
.b-service__el ul a:before {
  background: #e3e3e3 !important;
}
.shrink {
  box-shadow: none;
}
.footer__nav {
  background: #113775;
}
.section-get {
  background: #113775;
}
.section-get .btn {
  background: #fff;
  color: #113775;
  font-weight: 700;
}
.positive-wraper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.positive-el {
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  padding: 70px 30px 50px 30px;
  box-shadow: 0px 3px 8px #e3e3e3;
  border: 0;
  border-radius: 10px;
}
.positive-el .positive-el__icon {
  color: #113775;
  margin-right: 0;
  margin-bottom: 20px;
}
.positive-el .positive-el__icon [class^="flaticon-"]:before,
.positive-el .positive-el__icon [class*=" flaticon-"]:before,
.positive-el .positive-el__icon [class^="flaticon-"]:after,
.positive-el .positive-el__icon [class*=" flaticon-"]:after {
  font-size: 80px;
}
.positive-el__title {
  text-align: center;
  font-family: 'Pusia', sans-serif;
  text-transform: none;
  font-size: 18px;
  font-weight: 700;
  color: #113775;
}
.positive-el__text {
  text-align: center;
  color: #7d8188;
  line-height: 1.6;
}
.review-el {
  border: 0;
  border-radius: 10px;
  box-shadow: 0px 3px 8px #e3e3e3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  padding: 50px 30px;
}
.review-head {
  width: 100px;
  border: 0;
}
.review-head__img {
  margin-right: 0;
}
.review-content {
  width: calc(100% - 140px);
}
.review-head__title {
  width: 100%;
  margin-bottom: 10px;
  color: #113775;
  font-family: 'Pusia', sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.review-content__text {
  line-height: 1.6;
  color: #7d8188;
}
.review-content__name {
  font-weight: 400;
  margin-bottom: 10px;
  padding: 4px 15px;
  background: #eff1f5;
  border-radius: 15px;
  display: inline-block;
  font-size: 12px;
}
.modal {
  border-radius: 10px;
  overflow: hidden;
}
.modal .btn {
  background: #097a17;
  border-radius: 10px;
  text-transform: none;
  font-family: 'Pusia', sans-serif;
}
.modal-or {
  border-radius: 3px;
  width: 30px;
  height: 30px;
  top: -15px;
  margin-left: -15px;
}
.modal-wraper {
  background: #26c839;
}
.call__number {
  font-family: 'Pusia', sans-serif;
}
article {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
article ul,
article ol {
  padding: 20px 30px 20px 50px;
  border-radius: 10px;
  background: rgba(17,55,117,0.04);
}
.content__info {
  display: block !important;
}
.main-cont--sm {
  max-width: 1000px;
}
.content__wraper {
  margin-top: 30px;
}
.list-location {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.list-location__el {
  padding: 3px 15px;
  background: #e1e1e1;
  border-radius: 14px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}
@media only screen and (max-width: 1280px) {
  .banner-main {
    background-position: 30%;
  }
}
@media only screen and (max-width: 1024px) {
  .how-work__el {
    width: 48%;
  }
  .b-service {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .news-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .section-work {
    padding: 30px 0;
  }
  .company__lg-title {
    font-size: 24px;
  }
  .b-service__el {
    padding: 15px;
  }
  .b-service__el li {
    font-size: 12px;
  }
  .b-service {
    grid-template-columns: repeat(1, 1fr);
  }
  .header--white .header-nav {
    background: #f1f1f1;
  }
  .header--white .shrink .header-nav a {
    color: #000 !important;
  }
  .header--white .header--white {
    margin-bottom: 0;
  }
  .header__el a {
    color: #000;
  }
  .b-attantion {
    padding: 20px;
  }
  .b-contact-img {
    display: none;
  }
  .banner-main {
    display: none;
  }
  .header-phone-link {
    margin-left: auto;
    margin-right: 20px;
    font-size: 15px;
    font-weight: 700;
  }
  .header {
    border-bottom: 1px solid #efefef;
  }
}
@media only screen and (max-width: 640px) {
  .how-work__el {
    width: 100%;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center;
  }
  .how-work__el-numb {
    margin-bottom: 20px;
  }
  .how-work__el-info {
    width: 100%;
  }
}
