@import '_include-stylus.styl'

//constant

$blue = #113775
$dark-blue = #113775
$text-color = #7d8188
//$fontbold = 'Open Sans', sans-serif;
$fontbold = 'Pusia', sans-serif;

//constant === end


//TYPOGRAF
@font-face {
  font-family: 'Pusia';
  src: url("../fonts/Pusia-Bold.woff2") format('woff2'), url("../fonts/Pusia-Bold.woff") format('woff');
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: 'Pusia';
  src: url("../fonts/Pusia-ExtraBold.woff2") format('woff2'), url("../fonts/Pusia-ExtraBold.woff") format('woff');
  font-weight: 900;
  font-style: normal;
}


body
	font-family: 'PT Sans', sans-serif!important;

li, p
	line-height: 1.8!important
	font-size: 16px

p
	margin-bottom: 20px

typeSize(fontSm,font)
	+below(768px)
		font-size font px
	font-size fontSm px

.type--xs
	typeSize(12,10)

.type--sm
	typeSize(14,12)

.type--main
	typeSize(16,14)

.type--md
	typeSize(18,15)
	font-family: $fontbold

.type--lg
	typeSize(24,18)
	font-family: $fontbold

.type--xl
	typeSize(30,20)
	font-family: $fontbold
.type--bold
	font-weight bold

h1
	@extend .type--xl
	font-family:$fontbold
	color black
h2
	@extend .type--xl
	font-family:$fontbold
	color black
h3
	@extend .type--xl
	font-family:$fontbold
	color black
h4
	@extend .type--sm
	font-family:$fontbold
	color black
h5
	@extend .type--xs
	font-family:$fontbold
	color black


p
	@extend .type--main

//TYPOGRAF === end

.logo
	width: 15%

.section
	padding: 100px 0

.section--gray
	background: #fbfbfb
.section--white
	background: white

.title--type
	font-size: 36px
	margin-bottom: 60px
	margin-top: 0
	padding-top: 0
	font-weight:700
	font-family:$fontbold
	color $dark-blue

.title--mark
	color $blue
.sale-banner
	margin: 20px 0 5px 0

.header--white
	background: white
	.header__el a
		color black
	.header-phone-link
		color black

.header-phone-link
	font-size: 28px

.header__toggle
	color black

.header-nav-wraper
	ul
		list-style: none
		padding: 0
		margin: 0
	li
		margin-bottom: 0
.list-service__content
	ul
		list-style none
		padding: 0
		margin: 0
.list-service__el:before
	content ''
	width 5px
	height 5px
	border-radius 50%
	background #7b7b7b
	left -5px
	top 12px

strong
	color black
	font-style italic

.footer-wraper
	padding-bottom: 80px

.large-only tr td:nth-child(2)
	width: 35%
	p
		color black
		font-size: 14px

.header
	background: white

.navigation
	background: $blue
	ul
		list-style: none
		display: flex
		padding: 0
		margin: 0
		li
			margin: 0
			padding: 0
		a
			color white
			text-transform: uppercase
			padding: 15px 20px
			display: inline-block
			font-size: 14px
.banner-main
	height: 500px
	background-image: url("../img/main.jpg")
	width: 100%
	background-size: cover
	background-repeat: no-repeat
	.main-cont
		height: 100%
.banner-main__wrap
	display: flex
	height: 100%
.banner-main__wrap-info
	width: 50%
	margin-left: auto
	height: 100%
	display: flex
	justify-content: center
	flex-flow column
.banner-main__wrap-text
	font-size:56px
	line-height: 1
	margin-bottom: 20px
	span
		font-weight:700

.b-service
	display: grid
	grid-template-columns: repeat(3, auto)
	grid-gap: 20px
.b-service__el
	padding: 30px
	background: white
	border-radius 10px
	box-shadow 0 5px 10px #f1f1f1
	ul
		padding-left: 20px
		a
			color #2e2e2e
			position: relative
			&:before
				content ""
				position: absolute
				bottom -2px
				left 0
				width: 100%
				height: 1px
				background: #bebebe

.b-service__el-title
	font-family:$fontbold
	font-size: 16px
	margin-bottom: 10px
	color black
	font-weight:700
	text-transform: uppercase
	padding-bottom: 20px
	border-bottom 1px solid #eff1f5

.positive
	background: white
.serch-btn
	background: $blue
.panel__title
	color $blue

.table_price
	margin: 40px 0
	br
		display: none
.calc__icon
	color $blue

.sytle-input-element
	border 2px solid $blue

.sytle-input:checked + .sytle-input-element
	background: $blue

.sytle-input
	left -9999px

.adv__el
	i
		color $blue

.b-attantion
	box-shadow none
	border 1px solid #efefef
	margin: 40px 0
	padding: 0 20px
	border-radius 10px
.b-attantion__text
	font-size: 14px
	font-style: normal

.b-attantion__icon
	color red

.panel__get
	+below(640px)
		border-radius 0
	background: $blue!important
	border-radius 0 10px 10px 0
.calc-block__get
	background: $blue
	text-transform: none
	border-radius 10px
	padding: 15px
.call__free
	color $blue

.title--mid
	text-align: center

.section-company
	padding: 0!important

.how-work__el-title
	color $blue
	font-size: 18px
	font-family:$fontbold
	margin-bottom: 10px
.how-work
	display: flex
	flex-wrap wrap
	justify-content: space-between
	align-items: stretch

.how-work__el
	width: 32%
	display: flex
	justify-content: flex-start
	align-items: center
	background: white
	flex-flow column
	padding: 60px 30px
	br(10px)
	bsh()
	margin-bottom: 40px
	position: relative
	p
		margin 0
		line-height: 1.2
		font-size: 14px
		color $text-color
.how-work__el-numb
	width: 60px
	height: 60px
	font-size: 36px
	display: flex
	justify-content: center
	align-items: center
	color: #113775
	font-weight: 700
	font-family: $fontbold
	margin-bottom: 30px
	position: absolute
	top: -20px
	left: 0
	background: white
	border-radius: 10px


.section-work
	padding: 80px 0

.section-get__content
	.type
		color white
	.btn
		border 1px solid white
		color white

.section-get__subtitle
	margin-bottom: 30px
	color white!important

.section__contact
	background: #f3f3f3

.contact__form
	input,textarea
		border 1px solid #edeaea

.b-contact-img
	width: 100%
	padding: 40%
	background-image: url("../img/contact_girl.png")
	background-size: contain
	background-repeat: no-repeat

.lazyYT-container
	radial-gradient(#f9f9f9 10px, #0063b0) !important
	border-right:
	border-raduis 10px

.contact__phone
	font-weight:700

article
	.positive
		padding: 0

.attansion
	+below(640px)
		margin-left: -10px
		width:calc(100% + 20px)
		border-radius 0
	padding: 20px
	background: #f3f3c2
	border-radius 10px
	line-height: 1.4
	margin-bottom: 30px

.header--white
	border-bottom:1px solid #eee

.header-phone-link
	font-weight:700
	font-family $fontbold

.sale-banner-text
	font-size: 10px
	color #bebcbc

article
	a
		text-decoration: underline

.news-wrap
	display: grid
	grid-gap 20px
	grid-template-columns repeat(2,1fr);
	margin-bottom: 30px
.news__content
	width: 100%
	padding: 0
.news__el
	padding: 40px 30px;
	margin-bottom: 0;
	background: #fff;
	bsh()
	br(10px)
.news__title
	text-transform: none
	@extend .type--md
	color $blue

.news__text
	line-height: 1.4
	color $text-color
.b-service
	grid-template-columns: repeat(3, 1fr)

.metro-wraper
	justify-content: space-between
	margin-bottom: 30px
	.span_h2
		display: block
		width: 100%

.section-service
	background: #eaecf2b3

.header-nav
	width: 35%

.header__el
	a
		text-transform: none
		font-weight: 700

.content__left
	width: 100%
	max-width 1000px
	margin-left: auto
	margin-right: auto
	.positive
		display: none !important
		height: 0
		overflow: hidden
.panel
	+below(640px)
		br(0)
	border-radius 10px
	font-weight:600

.breadcrumbs
	padding: 10px 20px
	border-radius 10px
	margin-bottom: 30px
	span
		color $blue

.calc__title
	font-weight:700
	text-transform: none

.company__lg-title
	font-family: $fontbold
	font-weight:700

.work-teml__title
	text-align: center

.work-teml
	max-width 800px
	margin: 40px auto

.video
	max-width 800px
	margin: 40px auto

.section-title
	font-weight:700
	font-family:$fontbold
	margin-bottom: 40px
	text-transform: uppercase
	font-size: 28px!important
.section-title--mid
	text-align: center

.b-service__el-text
	color $blue
.b-service__el
	ul
		a
			color black
			&:before
				background: #e3e3e3!important

.shrink
	box-shadow none

.footer__nav
	background: $blue

.section-get
	background: $blue
	.btn
		background: white
		color $blue
		font-weight:700

.positive-wraper
	max-width 800px
	margin-left: auto
	margin-right: auto
.positive-el
	flex-flow column
	align-items: center
	justify-content: flex-start
	padding: 70px 30px 50px 30px
	bsh()
	border 0
	br(10px)
	.positive-el__icon
		color $blue
		margin-right: 0
		margin-bottom: 20px
		[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after
			font-size: 80px
.positive-el__title
	text-align: center
	font-family:$fontbold
	text-transform: none
	font-size: 18px
	font-weight:700
	color $blue

.positive-el__text
	text-align: center
	color $text-color
	line-height: 1.6

.review-el
	border 0
	br(10px)
	bsh()
	flex(between)
	align-items: flex-start
	padding: 50px 30px
.review-head
	width: 100px
	border 0
.review-head__img
	margin-right: 0
.review-content
	width calc(100% - 140px)
.review-head__title
	width: 100%
	margin-bottom: 10px
	color $blue
	font-family:$fontbold
	font-size: 16px
	font-weight: 700
.review-content__text
	line-height: 1.6
	color $text-color

.review-content__name
	font-weight: 400;
	margin-bottom: 10px;
	padding: 4px 15px;
	background: #eff1f5;
	border-radius: 15px;
	display: inline-block;
	font-size: 12px;

.modal
	br(10px)
	overflow: hidden
	.btn
		background: #097a17
		br(10px)
		text-transform: none
		font-family:$fontbold

.modal-or
	br(3px)
	size 30px
	top -15px
	margin-left: -15px
.modal-wraper
	background:#26c839

.call__number
	font-family:$fontbold

article
	max-width 1000px
	margin-left: auto
	margin-right: auto
	ul,ol
		padding:20px 30px 20px 50px
		br(10px)
		background: rgba(17, 55, 117, 0.04)


.content__info
	display: block !important

.main-cont--sm
	max-width 1000px

.content__wraper
	margin-top: 30px

.list-location
	f()
	fw()
	list-style: none
	padding: 0
.list-location__el
	padding: 3px 15px
	background: #e1e1e1
	br(14px)
	margin-right: 5px
	margin-bottom: 5px
	font-size: 14px


//media
@media only screen and (max-width: 1280px)
	.banner-main
		background-position 30%

@media only screen and (max-width: 1024px)
	.how-work__el
		width: 48%
	.b-service
		grid-template-columns: repeat(2, 1fr)
		grid-gap: 20px
	.news-wrap
		grid-template-columns repeat(1,1fr);
@media only screen and (max-width: 768px)
	.section-work
		padding: 30px 0
	.company__lg-title
		font-size: 24px
	.b-service__el
		padding: 15px
		li
			font-size: 12px
	.b-service
		grid-template-columns: repeat(1, 1fr)
	.header--white
		.header-nav
			background: #f1f1f1
		.shrink .header-nav a
			color black!important
		.header--white
			margin-bottom: 0
	.header__el a
		color black
	.b-attantion
		padding: 20px
	.b-contact-img
		display: none
	.banner-main
		display: none
	.header-phone-link
		margin-left: auto
		margin-right: 20px
		font-size: 15px
		font-weight: 700
	.header
		border-bottom 1px solid #efefef
@media only screen and (max-width: 640px)
	.how-work__el
		width: 100%
		flex-wrap: wrap;
		flex-flow column;
		align-items: center
	.how-work__el-numb
		margin-bottom: 20px
	.how-work__el-info
		width: 100%